/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
|
|
*/

:root {
  --font-family-base: 'Poppins', sans-serif;
}

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
|
|
|
*/

:root {
  --color-background: #F7F7F7;
  --color-dark-gray: #212121;
  --color-light-gray: #E0E0E0;
  --color-medium-gray: #666;
  --color-neutral-min: #FFF;
}
